<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>paquete.CerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>index</servlet-name>
        <jsp-file>index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>hola</servlet-name>
        <jsp-file>Hola.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>hola</servlet-name>
        <url-pattern>/Hola</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>paquete.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/cerrarSesion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <filter>
        <filter-name>SessionVerify</filter-name>
        <filter-class>paquete.FiltroGlobal</filter-class>
    </filter>
    <filter>
        <filter-name>VerifyLogin</filter-name>
        <filter-class>paquete.FiltroLogin</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SessionVerify</filter-name>
        <url-pattern>/Hola</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>VerifyLogin</filter-name>
        <url-pattern>/Login</url-pattern>
    </filter-mapping>
</web-app>
